* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.menu {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-top: 2%;
  font-size: 16px;
}
.menu::before {
  content: '';
  position: absolute;
  width: 80%;
  height: 2px;
  bottom: 0;
  background: #0f0;
}
.menu ul {
  list-style: none;
}
.menu ul li {
  float: left;
  position: relative;
}
.menu ul li a {
  text-decoration: none;
  text-align: center;
  border: 1px solid #fff;
  padding: 10px 15px;
  font-size: .8rem;
  text-transform: uppercase;
  color: #000;
}
#listDanhMuc a {
  padding-right: 100px;
  background: #0ff;
  color: #fff;
}
#listDanhMuc::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 2px;
  background: #fff;
  right: 10px;
  top: 50%;
  box-shadow: 0 5px #fff,
              0 -5px #fff;
}
#listDanhMuc ul {
  display: none;
}
